.DS_Store
tmp/*
!target/spring-petclinic-2.1.0.BUILD-SNAPSHOT.jar
!target
target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
/tmp/
